body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

input[type="number"] {
  font-size: 1.2em;
  padding: 5px;
  width: 50px;
  text-align: center;
}

#countdown {
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #007700; /* Cambia a rojo si quieres indicar un error */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: black;
}